<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BapProjesi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <BapProjesi.Properties.Settings>
            <setting name="Fan1P" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Fan1I" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Fan1D" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Fan2P" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Fan2I" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Fan2D" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Com" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateTime" serializeAs="String">
                <value>100</value>
            </setting>
        </BapProjesi.Properties.Settings>
    </userSettings>
</configuration>